/*
!/CmakeLists.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ttf
*.sln
*.vcxproj*

x64/
Debug/
.vs/
SortingVisualizer/x64/
SortingVisualizer/Debug/
